.form{
    background-color: white;
    width: 430px;
    height: 330px;
    list-style-type: none;
    padding-left: 10px; 
    padding-top: 30px;
    z-index: 20;
}

.form__title{
    font-family: Inter;
    font-size: 18px;
    font-weight: 900;
    line-height: 24.78px;
    text-align: center;
    width: 238px;
    padding-left: 30px;
    padding-bottom: 20px;
}


.form__input{
    width: 320px;
    border: none;
    text-align: start;
    line-height: 26.94px;
    margin: 0 auto;
    padding-left: 100px;
    padding-bottom: 10px;

}

.form__input-error{
    color: red;
}

.form__button{
    width: 238px;
    height: 46px;
    background-color: black;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-align: center;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.form__submit_inactive{
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}


