.popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.467);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup_opened{
     display:flex;
}
